{% extends "base.html.twig" %}

{% block title %}la page d'accueil{% endblock %}
{% block body %}
<h2>le bloc à insérer</h2>
 <h3>{{ title }}</h3>
    <p>{{ message }}</p>
    <p>Une modification pour tester le déploiement automatique qui doit être visible sur le localhost de Wampserver</p>
    <p>La modification est effectivement visible sans que j'ai besoin de relancer le dépoiement :)</p>
    <p>En outre, seul Wampserver est lancé.</p>

{% endblock %}